.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  background: $color-white;
  border: 1px solid $color-border;
  // backdrop-filter: blur(10px);

  .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .gnb > ul {
    display: flex;
    gap: 30px;

    li {
      a {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
