.main_introduce {
  .con {
    position: relative;
    display: flex;
    height: 100%;
    .desc_box {
      margin: 0 $size-gap 0 0;
      .desc {
        padding: 170px 0;
        h2 {
          margin: 0 0 40px 0;
          font-size: 40px;
          font-weight: 700;

          &::after {
            content: "";
            display: inline-block;
            vertical-align: 12px;
            width: 104px;
            height: 1px;
            background: #333;
            margin: 0 10px;
          }
        }
        p {
          margin: 0 0 24px 0;
          line-height: 1.5;
        }
      }

      .link {
        display: flex;
        gap: $size-gap;
        figure {
          &:hover {
            .img_box {
              img {
                transform: scale(1.1);
              }
            }
          }

          .img_box {
            margin: 0 0 16px 0;
            overflow: hidden;

            img {
              transition: 0.5s;
            }
          }

          figcaption {
            strong {
              display: block;
              margin: 0 0 8px 0;
              text-align: center;
              font-size: 18px;
              font-weight: 600;
            }
            span {
              display: block;
              text-align: center;
              font-size: 14px;
            }
          }
        }
      }
    }

    .img_box {
      display: flex;
      gap: 30px;
      margin: 0 0 0 auto;
      .left {
        background: url(../images/introduct_00.jpg) no-repeat 63% center/cover;
        margin: auto 0 0 0;
        width: 240px;
        height: 640px;
      }
      .right {
        background: url(../images/introduct_000.jpg) no-repeat 50% center/cover;
        width: 320px;
        height: 640px;
      }
    }
  }
}
