.main_visual {
  position: relative;
  .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 999;

    @include res() {
      width: 100%;
    }

    .img_box {
      margin: 0 0 24px 0;
      text-align: center;
      img {
        width: 200px;
      }

      @include res() {
        margin: 0 0 8px 0;
        img {
          width: 80px;
        }
      }
    }

    h2 {
      margin: 0 0 16px 0;
      font-family: "Makgeolli";
      font-size: 72px;
      color: $color-white;
      text-align: center;

      @include res() {
        font-size: 48px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      line-height: 1.25;
      color: $color-white;

      @include res() {
        font-size: 16px;
      }
    }
    @include res() {
      top: 45%;
    }
  }
  .main_slide {
    .itm {
      position: relative;
      height: 100vh;
      &::after {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        background: rgba(0, 0, 0, 0.3);
      }
    }
    .itm01 {
      background: url(../images/main_visual_01.jpg) no-repeat center
        center/cover;
    }
    .itm02 {
      background: url(../images/main_visual_02.jpg) no-repeat center
        center/cover;
    }
    .itm03 {
      background: url(../images/main_visual_03.jpg) no-repeat center
        center/cover;
    }
    .itm04 {
      background: url(../images/main_visual_04.jpg) no-repeat center
        center/cover;
    }
  }

  .arrows {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    z-index: 999;

    .material-symbols-outlined {
      font-size: 100px;
      font-weight: 100;
    }

    .left {
      position: absolute;
      left: 0;
      color: rgba($color: $color-white, $alpha: 0.5);
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: rgba($color: $color-white, $alpha: 1);
      }
    }

    .right {
      position: absolute;
      right: 0;
      color: rgba($color: $color-white, $alpha: 0.5);
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: rgba($color: $color-white, $alpha: 1);
      }
    }

    @include res() {
      display: none;
    }
  }

  .dots {
    position: absolute;
    bottom: 20%;
    left: 50%;
    z-index: 998;
    transform: translate(-50%, 0);

    display: flex;
    gap: $size-gap;

    @include res() {
      bottom: 21%;
      gap: 16px;
    }

    li {
      position: relative;
      width: 40px;
      height: 40px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: 0.5s linear;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
      }

      span {
        font-size: 0;
      }
      &:hover {
        &::before {
          width: 30px;
          height: 30px;
        }
      }
      &.on {
        &::before {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .scroll_icon {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -50%);
    color: $color-white;

    z-index: 998;

    a {
      display: flex;
      flex-direction: column;

      .txt {
        margin: 0 0 4px 0;
        font-size: 12px;
      }
      .material-symbols-outlined {
        font-size: 32px;
        text-align: center;
        animation: moving 1s infinite;
      }
    }

    @include res() {
      bottom: 5%;
    }
  }

  @keyframes moving {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 5px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }
}
