.main_introduce {
  background: url(../images/grid.png);
  .content {
    display: flex;
    gap: $size-gap;
    align-items: center;

    > * {
      flex: 1;
    }

    .img_box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4px;

      .itm {
        height: 160px;
        &:nth-child(1) {
          height: 100%;
          grid-row: 1 / span 2;
          background: url(../images/main_introduct_01.jpg) no-repeat center
            center/cover;
        }
        &:nth-child(2) {
          background: url(../images/main_introduct_02.jpg) no-repeat center
            center/cover;
        }
        &:nth-child(3) {
          background: url(../images/main_introduct_03.jpg) no-repeat center
            center/cover;
        }
        &:nth-child(4) {
          background: url(../images/main_introduct_04.jpg) no-repeat center
            center/cover;
        }
        &:nth-child(5) {
          background: url(../images/main_introduct_05.jpg) no-repeat center
            center/cover;
        }
        &:nth-child(6) {
          background: url(../images/main_introduct_06.jpg) no-repeat center
            center/cover;
        }
        &:nth-child(7) {
          grid-column: 2 / span 2;
          background: url(../images/main_introduct_07.jpg) no-repeat bottom 30%
            center/cover;
        }

        @include res() {
          height: 100px;
        }
      }

      @include res() {
        width: 100%;
      }
    }

    .txt_box {
      h2 {
        font-size: 48px;
        font-weight: 700;
        margin: 0 0 24px 0;

        @include res() {
          font-size: 32px;
        }
      }
      p {
        margin: 0 0 24px 0;
        line-height: 1.5;

        &:nth-child(3) {
          margin: 0 0 48px 0;
        }
      }
    }

    @include res() {
      flex-direction: column;
    }
  }
  @include res() {
    padding: 80px 0;
  }
}
