.main_hiyorika {
  background: url(../images/hiyorika_bg.jpg) no-repeat center center/cover;

  .desc_box {
    .desc {
      margin: 0 0 64px 0;
      span {
        display: block;
        margin: 0 0 16px 0;
        font-weight: 300;
        padding: 0 0 0 8px;
        letter-spacing: 0.2em;

        @include res() {
          margin: 0 0 4px 0;
          padding: 0 0 0 4px;
          color: $color-white;
        }
      }
      h2 {
        margin: 0 0 40px 0;
        width: 320px;
        font-size: 100px;
        font-weight: 600;
        @include res() {
          margin: 0 0 24px 0;
          width: auto;
          font-size: 56px;
          color: $color-white;
        }
      }
      p {
        margin: 0 0 24px 0;
        width: 560px;
        line-height: 1.5;

        @include res() {
          margin: 0 0 16px 0;
          width: auto;
          color: $color-white;
        }
      }
      @include res() {
        margin: 0 0 40px 0;
      }
    }
    @include res() {
      position: relative;
      z-index: 998;
    }
    @include res() {
      .btn {
        border: 1px solid $color-white;
        color: $color-white;
      }
    }
  }
  @include res() {
    position: relative;
    background: url(../images/hiyorika_bg.jpg) no-repeat left 45% center/cover;

    &::before {
      content: "";
      position: absolute;
      inset: 0 0 0 0;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}
