@mixin inner() {
  max-width: $size-pc;
  margin: 0 auto;
  padding: 0 $size-gap/2;
}

@mixin btn() {
  padding: 12px 24px 12px 28px;
  border: 1px solid $color-point;
  border-radius: 0 0 16px 0;
  font-weight: 300;
  color: $color-point;

  transition: 0.5s;

  &:hover {
    background: $color-point;
    color: $color-white;
  }
}

@mixin res() {
  @media (max-width: 768px) {
    @content;
  }
}
