$color-main: #f4adad;
$color-body: #333333;
$color-white: #ffffff;
$color-border: #dddddd;
$color-bg: #f9f9f9;
$color-point: #b23939;
$color-bg2: #fff3e3;
$color-gray: #777777;

$size-pc: 1400px;
$size-gap: 30px;
